<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.7.0.167456</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1152.0000495910645, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2013-01-30 19:44:36 +0000</string>
	<key>Creator</key>
	<string>hamidshariff</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{183.87103271484375, 180.72285461425781}, {166.23364485981296, 107.38285714285718}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>93567</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>2</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red201\green14\blue28;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qr

\f0\b\fs28 \cf2 2}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{183.87103271484375, 183.40571427345276}, {163, 99}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>93559</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{958, 98}, {188, 253}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.601342</string>
					<key>g</key>
					<string>0.19946</string>
					<key>r</key>
					<string>0.195717</string>
				</dict>
				<key>Font</key>
				<string>CenturyGothic</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>93558</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.866667</string>
						<key>g</key>
						<string>0.866667</string>
						<key>r</key>
						<string>0.866667</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{9, 9}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.588235</string>
						<key>g</key>
						<string>0.588235</string>
						<key>r</key>
						<string>0.588235</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>PointAtLeast</key>
					<true/>
					<key>Width</key>
					<real>0.23999999463558197</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 ArialMT;}
{\colortbl;\red255\green255\blue255;}
\deftab720
\pard\pardeftab720

\f0\b\fs24 \cf0 1. Header (logo/navigation)\
\
2. Slider (we can use the current Communities slider)\
\
3. Question section which can be used as the discussion portion (has share functionality, a plus featured which doesn't need to be developed but modified to your theme)\
\
4. Blog Post (current lay-out for Communities is the other option you guys wanted in the wires, this will only require modification as oppose to the vertical image layout which would require more dev time)\
\
5. Hardcoded (new)\
\
6. Filtering (new)\
\
7. Pagination (new)\
\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardeftab720\pardirnatural

\b0 \cf0 \
\pard\pardeftab720

\b \cf0 \
\
}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{779.54042553191493, 260.27143895348831}, {64.876595744680856, 20.760174418604667}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>43</integer>
					<key>Magnets</key>
					<array>
						<string>{1, 0.5}</string>
						<string>{1, -0.5}</string>
						<string>{-1, 0.5}</string>
						<string>{-1, -0.5}</string>
						<string>{0.5, 1}</string>
						<string>{-0.5, 1}</string>
						<string>{0.5, -1}</string>
						<string>{-0.5, -1}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>5</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>2</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red255\green9\blue21;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qr

\f0\b\fs28 \cf2 6}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{768.72765957446825, 538.03488372093011}, {84.957446808510596, 20.760174418604667}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>44</integer>
					<key>Magnets</key>
					<array>
						<string>{1, 0.5}</string>
						<string>{1, -0.5}</string>
						<string>{-1, 0.5}</string>
						<string>{-1, -0.5}</string>
						<string>{0.5, 1}</string>
						<string>{-0.5, 1}</string>
						<string>{0.5, -1}</string>
						<string>{-0.5, -1}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>5</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>2</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red255\green9\blue21;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qr

\f0\b\fs28 \cf2 7}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{846.73404255319156, 178.96075581395343}, {92.680851063829749, 169.15697674418615}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>45</integer>
					<key>Magnets</key>
					<array>
						<string>{1, 0.5}</string>
						<string>{1, -0.5}</string>
						<string>{-1, 0.5}</string>
						<string>{-1, -0.5}</string>
						<string>{0.5, 1}</string>
						<string>{-0.5, 1}</string>
						<string>{0.5, -1}</string>
						<string>{-0.5, -1}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>5</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>2</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red255\green9\blue21;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qr

\f0\b\fs28 \cf2 5}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{722.38723404255313, 362.34229651162798}, {123.57446808510639, 93.805232558139537}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>46</integer>
					<key>Magnets</key>
					<array>
						<string>{1, 0.5}</string>
						<string>{1, -0.5}</string>
						<string>{-1, 0.5}</string>
						<string>{-1, -0.5}</string>
						<string>{0.5, 1}</string>
						<string>{-0.5, 1}</string>
						<string>{0.5, -1}</string>
						<string>{-0.5, -1}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>5</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>2</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red255\green9\blue21;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qr

\f0\b\fs28 \cf2 3}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{598.8127659574468, 275.07267441860461}, {123.57446808510639, 93.805232558139537}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>47</integer>
					<key>Magnets</key>
					<array>
						<string>{1, 0.5}</string>
						<string>{1, -0.5}</string>
						<string>{-1, 0.5}</string>
						<string>{-1, -0.5}</string>
						<string>{0.5, 1}</string>
						<string>{-0.5, 1}</string>
						<string>{0.5, -1}</string>
						<string>{-0.5, -1}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>5</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>2</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red255\green9\blue21;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qr

\f0\b\fs28 \cf2 4}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{595.72340425531922, 178.96075581395345}, {248.69361702127654, 80.734011627907009}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>48</integer>
					<key>Magnets</key>
					<array>
						<string>{1, 0.5}</string>
						<string>{1, -0.5}</string>
						<string>{-1, 0.5}</string>
						<string>{-1, -0.5}</string>
						<string>{0.5, 1}</string>
						<string>{-0.5, 1}</string>
						<string>{0.5, -1}</string>
						<string>{-0.5, -1}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>5</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>2</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red201\green14\blue20;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qr

\f0\b\fs28 \cf2 2}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{659.82765957446782, 138.20930232558146}, {213.16595744680839, 37.675872093023251}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>49</integer>
					<key>Magnets</key>
					<array>
						<string>{1, 0.5}</string>
						<string>{1, -0.5}</string>
						<string>{-1, 0.5}</string>
						<string>{-1, -0.5}</string>
						<string>{0.5, 1}</string>
						<string>{-0.5, 1}</string>
						<string>{0.5, -1}</string>
						<string>{-0.5, -1}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>5</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>2</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red255\green9\blue21;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qr

\f0\b\fs28 \cf2 1}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{588, 89}, {363, 529}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>50</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>42</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{352.97757009345764, 144.92857142857122}, {78.706542056074696, 378.07714285714292}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>93568</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>2</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red255\green9\blue21;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qr

\f0\b\fs28 \cf2 5}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{184.02990654205576, 291.08857142857147}, {162.84112149532703, 45.488571428571426}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>93569</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>2</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red255\green9\blue21;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qr

\f0\b\fs28 \cf2 3}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{184.02990654205632, 420.09714285714313}, {84.134579439252377, 143.92285714285705}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>93570</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>2</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red255\green9\blue21;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qr

\f0\b\fs28 \cf2 4}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{180.63738317756975, 141.19999999999996}, {169.62616822429908, 39.522857142857141}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>93571</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>2</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red201\green14\blue18;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qr

\f0\b\fs28 \cf2 1}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{125, 89}, {363, 522}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>93572</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>4</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image3.png</string>
		<string>image2.png</string>
		<string>image1.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-01-30 20:26:31 +0000</string>
	<key>Modifier</key>
	<string>hamidshariff</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612.00002479553223, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{-53, 48}, {1521, 830}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-109, 0}, {1372, 691}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
